.login-fields {
    border: 5px solid #8BB09E;
    height: 50vh;
    background-color: #F3F9F6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #078448;
    align-items: center;
    font-size: 1.2em;
    min-height: 300px;
}

.field {
    font-weight: 600;
}

.field input {
    display: block; 
    border:none;
    height: 2em;
    background-color: #F3F9F6;
    border-bottom: 2px solid #078448;
    font-size: 0.75em;
    transition-duration: 1.5s;
}

.field input:focus {
    pointer-events: none;
    outline: none;
    font-size: 0.75em;
}

.field .field-filled{
    background-color: #B5DAC870;
    transition-duration: 1.5s;
}

#register-form p{
    font-size: 0.75em;
    margin: 0px;
    color: #011A0E;
    font-weight: 200;
    height: 0.75em;
}

form button {
    font-size: 1em;
}