.login-fields {
    border: 5px solid #8BB09E;
    height: 50vh;
    background-color: #F3F9F6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #F3F3F8;
    align-items: center;
    font-size: 1.2em;
    min-height: 300px;
}

.field {
    font-weight: 600;
}

.field input {
    display: block; 
    border:none;
    height: 2em;
    background-color: #F3F9F6;
    border-bottom: 2px solid #F3F3F840;
    font-size: 0.75em;
    transition-duration: 0.25s;
}

.field input:focus {
    pointer-events: none;
    outline: none;
    font-size: 0.75em;
    border-bottom: 2px solid #F3F3F8;
    transition-duration: 0.25s;
}

.field .field-filled{
    background-color: #B4B3BE70;
    transition-duration: 0.25s;
    border-bottom: 2px solid #F3F3F8;
}

#register-form p{
    font-size: 0.75em;
    margin: 0px;
    color: #0F0121;
    font-weight: 200;
    height: 0.75em;
}

form button {
    font-size: 0.9em;
    background-color: #0F0121;
    transition-duration: 0.5s;
    border: 2px solid #F3F3F8;
    line-height: 1;
}
                
form button:disabled {
    cursor: default;
    background-color: #F3F9F6;
    color: #8BB09E;
    border: 2px solid #B4B3BE;;
}