:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  padding: 0px;

  color: #FEEBD2;
  background-color: #243B6B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 300;
  color: #FEEBD2;
  text-decoration: inherit;
}
a:hover {
  color: #FF615B;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 2px solid #FEEBD2;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  /* background-color: #243B6B;  */
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.25s;
  /* line-height: 1.5; */
  color:#FEEBD2
}
button:hover {
  background-color: #FEEBD2;
  border: 2px solid transparent;
  transition-duration: 0.25s;
  color: #243B6B;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */